__pycache__/
*.pyc
.ipynb_checkpoints/

logs/
log/
runs/
results/
outputs/
output/
checkpoints/
checkpoint/
weights/
models/
data/
features/
patches/
heatmap_results/

*.pt
*.pth
*.ckpt
*.safetensors
*.h5
*.pkl
*.npy
*.npz
